<div class="container">
  <mat-card class="form-card">
    <form #userForm="ngForm" class="form" [formGroup]="engineerForm" (ngSubmit)="onSubmit()">
      <mat-card-title class="form-title">Frontend Engineer Form</mat-card-title>
  
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstName" type="text">
        <mat-error *ngIf="
        engineerForm.get('firstName')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="
          engineerForm.get('firstName')?.hasError('minlength') || engineerForm.get('firstName')?.hasError('maxlength')">
          Name length must be from 4 to 20 characters
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="lastName" type="text">
        <mat-error *ngIf="engineerForm.get('lastName')?.hasError('required')">Lastname is required</mat-error>
        <mat-error *ngIf="
          engineerForm.get('lastName')?.hasError('minlength') || engineerForm.get('lastName')?.hasError('maxlength')">
          Lastname length must be from 4 to 20 characters
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="sample@example.com">
        <mat-error *ngIf="engineerForm.get('email')?.hasError('required')">Enter a valid email</mat-error>
        <mat-error *ngIf="engineerForm.get('email')?.hasError('emailTaken')">Email already exists</mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-error *ngIf="engineerForm.get('dateOfBirth')?.hasError('ageRange')">
          Age should be between 18 and 100.
        </mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>FE Technology</mat-label>
        <mat-select formControlName="framework" (valueChange)="enableVersion()">
          <mat-option *ngFor="let tech of frameworks" [value]="tech">{{ tech }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>FE Technology Version</mat-label>
        <mat-select formControlName="frameworkVersion">
          <mat-option *ngFor="
            let version of frameworkVersions[engineerForm.get('framework')?.value]" [value]="version">{{ version }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <div formArrayName="hobbies">
        <mat-form-field class="form-field" *ngFor="let hobby of hobbies.controls; let i = index">
          <mat-label>Hobby:</mat-label>
          <input matInput formControlName="{{ i }}">
          <mat-error *ngIf="hobby.hasError('required')">Hobby is required</mat-error>
          <mat-error *ngIf="
            hobby.hasError('minlength') || hobby.hasError('maxlength')">
            Hobby length must be from 4 to 20 characters
          </mat-error>
          <mat-icon class="remove-icon" *ngIf="i >= 1" matSuffix (click)="removeHobby(i)">remove_circle</mat-icon>
        </mat-form-field>
      </div>
      <button class="add-hobby-btn" mat-raised-button type="button" (click)="addHobby()">Add Hobby</button>

      <button 
        class="submit-btn" 
        mat-raised-button 
        type="submit" 
        color="primary" 
        [disabled]="!engineerForm.valid || isSubmitted" >
        Submit
      </button>

      <div *ngIf="isSubmitted" class="success-message">
        Thank you, your form was submitted!
      </div>
           
    </form>
  </mat-card>
</div>